@model FASTWeb.Models.Authenticate.LoginCredentialModel

@{
    ViewBag.Title = "Log in";
}

<div class="row" >
    <div class="col-md-4" >
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Authenticate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div style="float:left">
                    <img src="../Images/fastrack_1.png" height="40" width="40" />
                </div>
                <div style="padding-left:50px">
                    <h1>User Login</h1>
                </div>
                
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have a local account.
                </p>
                <p>
                    @Html.ActionLink("Click here", "ResetPassword") if you forgot your password.
                </p>
            }
        </section>
        <br/>
        <div>
            <div class="panel">
                <div class="panel-info">
                    <div class="panel-heading">
                        <h5>App Updates</h5>
                    </div>
                    <div class="panel-body">
                        <p >
                            <blockquote style="font-size:12px;font-style:italic">
                                FASTRACK beta  is now live.  You can start activating your accounts by registration and start downloading the app from the @Html.ActionLink("download page","DownloadPage","Home").
                            </blockquote>
                        </p>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <br/><br /><br /><br />
        <section id="infopage">
            @Html.Partial("_MainInfoPagePartial")
        </section>
    </div>
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}