
@{
    ViewBag.Title = "Data Maintenance";
}
<br />
<div class="navbar-collapse collapse">
    @Html.Partial("_EmployeeProfilePartial")
</div>
<div class="container-fluid">
    <br />
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Data Maintenance</h3>
        </div>
        <div class="panel-body col-lg-6">
            <div class="list-group list-group-item-info">
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Access Rights</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Department</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Locations</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Asset Class</a>
            </div>
        </div>
        <div class="panel-body col-lg-6">
            <div class="list-group list-group-item-info">
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Asset Types</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Email Settings</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">News</a>
            </div>
        </div>
    </div>
</div>


