
@{
    ViewBag.Title = "Reports";
} 

<br/>
<div class="navbar-collapse collapse">
    @Html.Partial("_EmployeeProfilePartial")
</div>
<br/>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">List of Available Reports</h3>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Employee Reports</h4>
        </div>
        <div class="panel-body">
            <div class="list-group list-group-item-info">
                <a class="list-group-item" href="@Url.Action("EmployeeReport","Report")">List of Employees</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Employee Profile</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Employees per Department</a>
            </div>
        </div>
    </div> 
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Assignment Reports</h4>
        </div>
        <div class="panel-body">
            <div class="list-group list-group-item-info">
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assignments Per Department</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assignment Per Employee</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Assignment History</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assignments Waiting for Acceptance</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assignments Waiting for Approval</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assignments at MIS</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Asset Reports</h4>
        </div>
        <div class="panel-body">
            <div class="list-group list-group-item-info">
                <a class="list-group-item" href="@Url.Action("FixAssetReport","Report")">List of Assets</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Unassigned Assets</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assets per Department</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assets Less Than 5 Years</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assets More Than 5 Years</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assets for Repair</a>
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">List of Assets for Decommissioning</a>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Statistics</h4>
        </div>
        <div class="panel-body">
            <div class="list-group list-group-item-info">
                <a class="list-group-item" href="@Url.Action("Unavailable","Home")">Request and Approvals</a>
            </div>
        </div>
    </div>

</div>

